<footer class="footer mt-3">
  <div class="container hidden-print">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <ol>
          <li>
            <a href="/subscribe?loc=f">Subscriptions</a>
          </li>
          <li>
            <a href="http://shop.cosmosmagazine.com">Back issues</a>
          </li>
          <li>
            <a href="/newsletter">Newsletter</a>
          </li>
        </ol>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <ol>
          <li>
            <a class="" href="/advertise">Advertising</a>
          </li>
          <li>
            <a class="" href="/submissions">Submissions</a>
          </li>
          <li>
            <a class="" href="/intern">Internships</a>
          </li>
        </ol>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <ol>
          <li>
            <a class="" href="/contact">Contact us</a>
          </li>

          <li>
            <a class="" href="/about">About us</a>
          </li>
          <li>
            <a class="" href="/faq">FAQs</a>
          </li>
        </ol>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <ol>
          <li>
            <a class="" href="/terms">Terms of use</a>
          </li>

          <li>
            <a class="" href="/privacy">Privacy policy</a>
          </li>
          <li>
            <a class="" href="/privacy#cookies">Use of cookies</a>
          </li>

        </ol>
      </div>

    </div>

  </div>


</footer>
