@import "bootstrap-scss/functions";
@import "variables";
@import "bootstrap-scss/bootstrap";
@import "fonts";
@import "icons";

figure.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

figure.width-50.align-right {
  float: right;
  width: 50%;
  padding: 15px;
  margin-right: -250px;
  img {
    width: 100%;
    height: auto;
  }
}


footer {
  border-top: 1px solid black;
  padding-top: 1rem;
  ol {
    list-style: none;
    margin-left: 0;

    li {
      a {
        color: black;
      }
    }
  }
}
