@import "bootstrap-scss/functions";
@import "variables";
@import "bootstrap-scss/bootstrap";
@import "fonts";
@import "icons";

// hacks, tidy up later

figure.full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

figure.width-50.align-right {
  float: right;
  width: 50%;
  padding: 15px;
  margin-right: -250px;
  img {
    width: 100%;
    height: auto;
  }
}


footer {
  border-top: 1px solid black;
  padding-top: 1rem;
  ol {
    list-style: none;
    margin-left: 0;

    li {
      a {
        color: black;
      }
    }
  }
}

.home {
  .col-6 {
    .card {
      img {
        height: 400px;
      }
    }
  }

  .card {

    .card-title {
      font-family: $font-family-serif;
    }
    .card-body {
      padding-left: 0;
      padding-right: 0;
    }
    p {
      font-size: 12px;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }

}

.card {
  img {
    object-fit: cover;
    height: 200px;
  }
}
